@{
    ViewBag.Title = "Hakkımızda";
}
<h2 style="text-align:center"><i>@ViewBag.Title</i></h2>


<p class="alert-info" style="text-align:center">
    <strong>
        <i>
            5.4.2019 Tarihinde serüvenimize başladık.<br />
            Birçok alanda aradığınız her ürünü en kaliteli ve en uygun fiyatlarla sizlere sunmak ilk önceliğimiz.
        </i>
    </strong>
</p>
