@model E_Ticaret.Models.Sipari

@{
    ViewBag.Title = "Sipariş Detayı";
}

<div class="jumbotron">
    <h4>Sipariş Detayı</h4>
</div>

<table>
    <tr>
        <th>
            Toplam Adet
        </th>
        <th>
            Toplam Tutar
        </th>
        <th>
            Ürün Adı
        </th>
    </tr>
    
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor()
            </td>
        </tr>
    }*@

</table>

