
@{
    ViewBag.Title = "Hatalı";
}



<div class="row">
    <div class="col-md-12">
        <h2>Hatalı</h2>
        <p>İşlem sırasında bir hata oluştu. Hata detayı aşağıdadır.</p>
            @ViewBag.Hata
    </div>
</div>